@card-transition: .5s all ease-in-out;
.card{
  width: 300px;
  height: 340px;
  background: @white;
  border: 2px solid @cyan;
  //border-radius: 10px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  transition: @card-transition;
  -moz-transition: @card-transition;
  -webkit-transition: @card-transition;
  overflow: hidden;
  position: relative;

  &__content{
    width: 100%;
    height: 80%;
    position: relative;

    &__title{
      top: 10px;
      left: -300px;
      position: absolute;
      text-align: center;
      width: 296px;
      font-size: 25px;
      line-height: 35px;

      transition: @card-transition;
      -moz-transition: @card-transition;
      -webkit-transition: @card-transition;
    }
  }
  &__header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;

    transition: @card-transition;
    -moz-transition: @card-transition;
    -webkit-transition: @card-transition;
  }
  &__logo{
    position: absolute;
    transform:scale(0.6);
    top: 60px;
    right: -250px;

    transition: @card-transition;
    -moz-transition: @card-transition;
    -webkit-transition: @card-transition;
  }

  &__footer{
    width: 100%;
    height: 20%;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;

    transition: @card-transition;
    -moz-transition: @card-transition;
    -webkit-transition: @card-transition;
  }
  &__footer svg{width: 20px}
  &__footer svg path{
    fill:@cyan;
    opacity: 0;

    transition: @card-transition;
    -moz-transition: @card-transition;
    -webkit-transition: @card-transition;
  }
  &__text{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    opacity: 0;

    transition: @card-transition;
    -moz-transition: @card-transition;
    -webkit-transition: @card-transition;
  }
  &__title{
    font-size: 18px;
    line-height: 22px;

    transition: @card-transition;
    -moz-transition: @card-transition;
    -webkit-transition: @card-transition;
  }
  &__price{
    font-size: 28px;
    line-height: 32px;

    transition: @card-transition;
    -moz-transition: @card-transition;
    -webkit-transition: @card-transition;
  }

  &__preview{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    left: 52px;
    bottom: 45px;
    width: 190px;

    transition: @card-transition;
    -moz-transition: @card-transition;
    -webkit-transition: @card-transition;

    &__title{
      font-size: 38px;
      line-height: 40px;
    }
    &__price{
      font-size: 28px;
      line-height: 34px;
    }
  }
}
.card-content{
  top: 165px;
  left: -300px;
  position: absolute;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  width: 296px;
  text-align: center;

  transition: @card-transition;
  -moz-transition: @card-transition;
  -webkit-transition: @card-transition;

  &__item{
    font-size: 38px;
    line-height: 40px;
  }

  &__desc{
    font-size: 14px;
    line-height: 10px;
  }
}

.logo-block{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;

  transition: @card-transition;
  -moz-transition: @card-transition;
  -webkit-transition: @card-transition;
}
.logo-animation{
  background: @cyan;
  display: block;
  position: absolute;

  transition: @card-transition;
  -moz-transition: @card-transition;
  -webkit-transition: @card-transition;
}
.before{
  height: 40px;
  width: 20px;
  left: 35%;
  top: 35%;
}
.after{
  height: 40px;
  width: 20px;
  left: 58.6%;
  top: 54%;
}
.content{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 35%;
  left: 35%;
}
.content::after{
  content: '';
  position: absolute;
  background: #FFFFFF;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  top: 15px;
  left: 15px;
}

.sale-line{
  font-size: 18px;
  color: @gray;
  transform: rotate(20deg) translate(10px, -80px);
}
.sale-line:after{
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  background: #00DEB1;
  right: 125px;
  top: 18px;
  transform: rotate(12deg);
}


.card:hover{
  transform: translateY(-10px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.24);
}
.card:hover, .card:hover span, .card:hover h1, .card:hover h2{
  cursor: pointer !important;
}
.card:hover .card__content{
  //background: @cyan;
  cursor: pointer;
}
.card:hover .card {&__logo{
  transform: scale(.6);
  right: 0;
}}

.card:hover .card {&__footer, &__header{
  box-shadow: 0 0 5px 0 #00000026;
}}

.card:hover .card {&__footer svg path{
  opacity: 1;
}}

.card:hover .card-content{
  left: 0;
}
.card:hover .logo-block{
  transform: scale(0) rotate(-45deg);
}

.card:hover .card__content {&__title{
  left: 0;
}}

.card:hover .card {&__preview{
  transform:  translateY(180px);
}}
.card:hover .card {&__text{
  opacity: 1;
}}