.modal-pay{
  display: block;

  &__header{
    font-size: 36px;
    line-height: 44px;
    font-family: "AvenirNextCyr Bold";
  }
  &__description{
    display: flex;
    display: -webkit-flex;
    margin-top: 30px;
  }
  &__block{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 516px;
  }
  &__item{
    font-size: 18px;
    line-height: 22px;
    color: @black;
    margin-bottom: 17px;
    position: relative;
    padding-left: 40px;
  }
  &__item:before{
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: @cyan;
    position: absolute;
    left: 0;
    top: 4px;
  }
  &__title{
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 25px;
  }
  &__tickets{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
  }
  &__input{
    background: #EFEFEF;
    border-radius: 47px;
    border: 0;
    outline: none;
    width: 240px;
    height: 50px;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    padding: 0 20px;
    color: @gray;
    transition: .2s all ease-in-out;
  }
  &__input:focus{
    color: @black;
  }
  &__button{
    width: 240px;
    height: 50px;
    outline: none;
    border: 2px solid @white;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.24);
    border-radius: 44px;
    color: @black;
    font-size: 18px;
    line-height: 22px;
    transition: .2s all ease-in-out;
    background: @white;
    cursor: pointer;
  }
  &__button:hover{
    border: 2px solid @cyan;
    box-shadow: 0 0 15px rgba(0, 222, 177, 0.24);
    background: @cyan;
    color: @white;
  }
  &__cards{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}