@import '../../styles/mixins';

/*standart*/
@font-face{
  font-family: 'AvenirNextCyr';
  src: url('../../common/fonts/AvenirNextCyr-Demi.ttf');
  font-weight: normal;
  font-style: normal;
}
/*light*/
@font-face{
  font-family: 'AvenirNextCyr Light';
  src: url('../../common/fonts/AvenirNextCyr-Thin.ttf');
  font-weight: normal;
  font-style: normal;
}
/*bold*/
@font-face {
  font-family: 'AvenirNextCyr Bold';
  src: url('../../common/fonts/AvenirNextCyr-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
/*italic*/
@font-face {
  font-family: 'AvenirNextCyr Italic';
  src: url('../../common/fonts/AvenirNextCyr-Italic.ttf');
  /*url('../../static/font/GothamPro.svg#webfont') format('svg');*/
  font-weight: normal;
  font-style: italic;
}
*{
  font-family: AvenirNextCyr;
  font-size: 14px;
  line-height: 13px;
}
a {
  color: @black;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.home{
  display: flex;

  &__content{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  &__section{
    width: 100%;
    margin-bottom: 30px;
  }
  &__block{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  &__block>.ant-input-affix-wrapper{
    width: 35%;
    height: 44px;
  }
  &__block .ant-input{
    border-radius: 47px;
    background: #EFEFEF;
  }
  &__title{
    font-size: 36px;
    line-height: 44px;
    font-family: "AvenirNextCyr Bold";
    margin: 0;
    padding: 0;
  }
  &__social>button{
    background: @cyan;
    border-radius: 35px;
    width: 195px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: @white;
    margin-top: 36px;
    margin-bottom: 36px;
    border: 1px solid @cyan;
    transition: 0.2s all ease-in-out;
  }
  &__social>button>svg{
    margin-right: 12px;
  }
  &__social>button:hover>svg{
    fill: @cyan;
  }
  &__social>button:hover{
    background: @white;
    color: @cyan;
    border-color: @cyan;
  }
  &__social>button:focus{
    outline: none;
  }
}