.footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  &__list{
    display: block;
  }
  &__text{
    color: @black;
    font-size: 16px;
    line-height: 20px;
    font-family: "AvenirNextCyr Light";
    font-weight: bold;
  }
  &__link{
    color:@gray;
    font-size: 16px;
    line-height: 20px;
    font-family: "AvenirNextCyr Light";
  }
}