@blue: #006CA9;

.most-popular{
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  cursor: pointer;

  &__media{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FDFDFD;
    border: 2px solid #006CA9;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    width: 263px;
    height: 185px;
  }
  &__image{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__hover{
    opacity: 0;
    position: absolute;
    background: #00DEB1;
    width: 75px;
    height: 75px;
    transform: scale(0);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s all ease-in-out;
    cursor: pointer;
  }
  &__media:hover &__hover{
    transform: scale(1);
    opacity: 1;
  }
  &__media>&__image>svg{transition: .2s all ease-in-out;}
  &__media:hover>&__image>svg{
    opacity: 0;
    transform: scale3d(0, 1.5, 1.5);
  }

  &__horizontal, &__vertical{
    display: flex;
    position: absolute;
  }
  &__horizontal{
    bottom: 3px;
    left: 51px;
  }
  &__vertical{
    transform: rotate(90deg);
    right: -23px;
    top: 36px;
  }
  &__info{
    font-size: 16px;
    line-height: 20px;
  }
  &__arrow{
    width: 102px;
    height: 72px;
    border-right: 2px solid @blue;
    border-bottom: 2px solid @blue;
    position: absolute;
    right: 11px;
    bottom: 9px;
    display: flex;
    align-items: center;
  }

  &__list{
    display: flex;
    flex-direction: column;
  }

  &__item, &__description{ margin-top: 1rem; cursor: pointer;}
  &__item{
    color: @black;
    font-size: 18px;
    line-height: 22px;
  }
  &__description{
    color: @gray;
    font-size: 18px;
    line-height: 22px;
    font-family: "AvenirNextCyr Light";
  }
}