.layout{
  width: 100%;
  position: relative;

  &__background{
    //position: absolute;
    //z-index: -1;
  }
  &__list{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item{
    background: @white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border: 0;
    border-radius: 44px;
    width: 360px;
    height: 60px;
    color: @black;
    font-size: 1.3em;
    transition: .2s all ease-in-out;
    cursor: pointer;
  }
  &__item:hover{
    background: @cyan;
    color:@white;
  }
  &__item:focus{
    outline: none;
  }
}