@import './mixins';

// Here you put all global css rules.

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
img{
  width: 100%;
}
a:hover{
  text-decoration: none;
  color: @cyan;
}
h1,h2,h3,h4,span{
  cursor: default;
}
