.head {
    height: 136px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16% 0 50px;
}

.logo .logo_text {
    font-size: 28px;
    padding: 0;
    margin: 0;
}

.logo .logo_text::first-letter {
    color: #00DEB1;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #070707;
}

.logo .back {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    transform: rotate(135deg);
    border-bottom: 4px solid #C4C4C4;
    border-right: 4px solid #C4C4C4;
}

.name_field {
    margin-left: 58px;
}

.name_field input {
    outline: none;
    width: 402px;
    font-size: 18px;
    color: #070707;
    padding: 0 41px;
    height: 50px;
    border-radius: 47px;
    border: none;
    background: #EFEFEF;
}

.history_buttons {
    display: flex;
    flex-direction: row;
    margin-left: 51px;
}

.history_buttons .back_b {
    transform: scale(-1, 1);
}

.history_buttons .front_b {
    margin-left: 15px;
}

.save_b {
    cursor: pointer;
    margin-left: auto;
}

.save_b span {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    color: #012e52;
}

.save_b span svg {
    margin-left: 6px;
}

.body {
    display: flex;
    flex-direction: row;
}

.body .left_bar {
    min-width: 200px;
    margin-right: 57px;
}

.body .left_bar ul {
    list-style: none;
    user-select: none;
    color: #000;
}

.body .left_bar ul li {
    display: flex;
    height: 49px;
    padding: 12px 12px 12px 23px;
    border-radius: 41px 0 0 41px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    cursor: default;
}

.body .left_bar ul li:hover {
    background: #00DEB1;
    color: white;
}

.body .left_bar .pop_up:hover + li {
    background: #00DEB1;
    color: white;
}

.body .left_bar .pop_up:hover + li svg {
    fill: white;
}

.body .left_bar ul li:hover svg {
    fill: white;
}

.body .left_bar ul li span {
    font-size: 18px;
    margin-left: 18px;
}

.body .left_bar ul li svg {
    width: 30px;
}

.editor {
    width: 1358px;
    background: #F4F4F4;
    height: 600px;
    border-radius: 10px;
    border: 1px solid #E6E6E6;
}

.editor .editor_head {
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
    height: 59px;
    width: 100%;
    background: #fff;
}

.pop_up {
    position: absolute;
    top: 136px;
    left: 250px;
    width: 400px;
    height: 400px;
    background: #00DEB1;
    border-radius: 0 10px 10px 10px;
}

.pop_up svg {
    position: relative;
    top: 9px;
    left: -64px;
}

.popUp_template {
    height: 780px;
}

.popUp_template .search_p svg {
    top: 36px;
    z-index: 1;
    left: 50px;
}

.search_p {
    position: relative;
    top: -152px;
}

.body_p {
    position: relative;
    top: -113px;
}

.popUp_template input {
    display: block;
    width: 345px;
    height: 50px;
    background: #009577;
    border-radius: 47px;
    border: none;
    margin: 0 auto;
    outline: none;
    padding: 0 60px;
    font-size: 16px;
    color: #fff;
}

.popUp_template input::placeholder {
    color: white;
}

.popUp_template .instagram_b svg {
    top: 0;
    left: 0;
    margin-right: 12px;
}

.popUp_template div {
    margin-bottom: 14px;
}

.popUp_template .instagram_b {
    cursor: pointer;
    margin-left: 28px;
    width: 195px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background: #fff;
    color: #00DEB1;
    border-radius: 35px;
}

.popUp_template .categories {
    width: 392px;
    overflow: hidden;
    transition: all .5s;
    height: 0;
}

.popUp_template .active_c {
    height: 420px;
}

.popUp_template .categories ul {
    padding: 0;
}

.popUp_template .categories ul li {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
    cursor: pointer;
}

.popUp_template .categories .sub_cat::-webkit-scrollbar {
    width: 4px;
}

.popUp_template .categories .sub_cat::-webkit-scrollbar-track {
    background: transparent;
}

.popUp_template .categories .sub_cat::-webkit-scrollbar-thumb {
    background: #009D7D;
    border-radius: 35px;
}

.popUp_template .categories .sub_cat {
    color: #fff;
    display: flex;
    height: 0;
    transition: all .5s;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.popUp_template .categories .active_sub {
    height: 200px;
}

.sub_ {
    width: 13px;
    height: 13px;
    transform: rotate(45deg);
    position: relative;
    top: -3px;
    left: -4px;
}

.sub_open {
    border-bottom: 3px solid #009778;
    border-right: 3px solid #009778;

}

.sub_close {
    border-bottom: 3px solid #009778;
    border-left: 3px solid #009778;
}

.popUp_template .categories .sub_cat p {
    margin-top: 9px;
}

.popUp_template .categories .sub_cat span {
    display: block;
    margin-bottom: 27px;
}

.popUp_template .categories .sub_cat img {
    background: #fff;
    padding: 2px;
    width: 163px;
    height: 163px;
}

.popUp_template .categories .sub_cat .item {
    width: 163px;
    cursor: pointer;
}

.popUp_template .categories .sub_cat .item:nth-child(odd) {
    margin-right: 19px;
}

.popUp_object {
    top: 200px;
}

.popUp_upload {
    top: 264px;
    height: 240px;
}

.popUp_upload input {
    position: relative;
    top: -39px;
    font-weight: 600;
    outline: none;
    font-size: 18px;
    margin: 0 auto;
    width: 350px;
    height: 60px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border-radius: 44px;
    border: none;
    background: #fff;
    display: flex;
    text-align: center;
    cursor: pointer;
    color: #000;
}

.stub {
    position: relative;
    display: block;
    width: 50px;
    left: -50px;
    top: -124px;
    background: #00DEB1;
    height: 49px;
}

#file_form {
    display: none;
}

#stage {
    width: 100%;
}

#stage text {
    user-select: none;
}

.text-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    user-select: none;
}

.text-panel img {
    width: auto;
    margin: 0 10px;
}

.color_picker {
    z-index: 2;
    position: relative;
}

.fontChanger{
    border: none;
    padding-right: 50px;
    outline: none;
}

.text-panel span{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 25px;
}

.boldChanger strong{
    font-size: 1.3em;
    cursor: default;
}
.styleChanger i{
    font-size: 1.3em;
    margin-left: 10px;
    font-family: "Times New Roman", serif;
    cursor: default;
}
.transformChanger{
    font-size: 1.3em;
    margin-left: 10px;
    cursor: default;
}