.content{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content button{
    width: 200px;
}

#stage {
    background: #fff;
    margin: 0 auto;
    border: 1px solid black;
}
#stage.wireframe * {
    stroke: #000 !important;
    stroke-width: 1px !important;
    fill: transparent !important;
}
#textarea {
    padding: 10px;
    color: #888;
    background-color: #f8f8f8;
    border: 0;
    width: 60px;
    height: 50px;
}