@import '../../styles/mixins';
@gray: #D3D3D3;
@margin10: 10px 0;

.sign {
  display: flex;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  position: relative;
  justify-content: space-between;
  height: 80vh;


  &__header{
    margin: 37px 0;
    display: flex;
    align-items: center;
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
    cursor: context-menu;
  }
  &__header>span{
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
    cursor:pointer;
  }
  &__content{
    margin: @margin10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  &__content>svg{
    //width: 100%;
  }
  &__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
  }
  &__item{
    outline: none;
    margin: @margin10;
    border: 2px solid @gray;
    box-sizing: border-box;
    border-radius: 44px;
    width: 360px;
    height: 60px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: @black;
    background: @white;
  }
  &__item>i{
    color: #4267B2;
    margin-right: 25px;
    font-size: 22px;
  }
  &__input{
    font-family: AvenirNextCyr Light;
    margin: @margin10;
    width: 360px;
    height: 60px;
    border: 2px solid @gray;
    box-sizing: border-box;
    border-radius: 44px;
    font-size: 18px;
    line-height: 22px;
    background: @gray;
    color: @black;
    padding: 0 0 0 2rem;
  }
  &__input:focus{
    outline: none;
  }
  &__button{
    margin: @margin10;
    width: 360px;
    height: 60px;
    border: 2px solid @cyan;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    background: @cyan;
    border-radius: 44px;
    cursor: pointer;
  }
  &__button:focus{
    outline: none;
    transform: scale(.97);
  }
  &__misc{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 22px;
    line-height: 27px;
    color: #D3D3D3;
    font-family: AvenirNextCyr Light;
  }
  &__misc::after{
    content: '';
    width: 306px;
    height: 2px;
    position: absolute;
    bottom: 10px;
    right: 0;
    background: @gray;
    border-radius: 23px;
  }

  &__text{
    margin-top: 30px;
    font-size: 18px;
    line-height: 22px;
    color: @black;
    font-weight: bold;
    font-family: AvenirNextCyr Light;
  }
  &__link{
    color: @cyan;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    font-family: AvenirNextCyr Light;
  }
}
.profile-data{

  &__header{
    cursor: pointer;
  }
  &__button{
    margin-top: 3rem;
  }
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner{
  border-color: @cyan;
  background: @cyan;
}
.ant-checkbox-checked::after{
  border-color: @cyan;
}
.ant-checkbox-inner::after {
  width: 7.714286px;
  height: 12.142857px;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: @cyan;
  border-color: @cyan;
}
.ant-checkbox-inner{
  background: @gray;
}
.ant-checkbox-wrapper{
  display: flex;
  align-items: center;
  margin: 1rem;
}
.ant-checkbox-inner{
  width: 22px;
  height: 22px;
}
.ant-checkbox-wrapper>span{
  font-size: 16px;
  line-height: 20px;
}