@animation: .2s all ease-in-out;
.nav{
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: 2px solid @border-color;

  &__list{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  &__logo{
    margin: 1.4rem 1rem 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo>img{width: 80%;}
  &__item{
    width: 205px;
    height: 50px;
    border-radius: 0 40px 40px 0;
    margin: 10px 60px 10px 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    transition: @animation;
  }
  &__item:hover{
    color: @white;
  }
  &__item::before{
    content: '';
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background: @cyan;
    border-radius: 50%;
    margin: 0 1rem 0 2rem;
  }
  &__item:hover::before{
    background: @white !important;
  }
  &__item::after{
    content: '';
    position: absolute;
    background: @cyan;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: @animation;
  }
  &__item:hover::after{
    width: 100%;
    transition: @animation;
  }
}
