@lightGray: #EFEFEF;
.maije-search{
  position: relative;
  display: block;

  &__ico{
    position: absolute;
    left: 55px;
    top: auto;
    height: 100%;
  }
  &__input[type='text']{
    width: 555px;
    height: 50px;
    border-radius: 47px;
    background: @lightGray;
    border: 0;
    font-size: 16px;
    line-height: 20px;
    font-family: AvenirNextCyr Light;
    padding: 0 0 0 89px;
  }
  &__input:focus{
    outline: none;
  }
}