@cyan: #00DEB1;
@black: #000000;
@white: #FFFFFF;
@red: #FA595F;
@border-color: #F8F8F8;
@padding-block: 13px 0;

.header, .header-unlog{
  border-bottom: 2px solid @border-color;
  padding: @padding-block;
  display: flex;
  justify-content: center;
  background: @white;

  &__content{
    justify-content: space-between;
    width: 100%;
  }
  &__section{
    display: flex;
    align-items: center;
  }
  &__pay{
    margin: 0;
    padding: 0;
    display: block;
  }
  &__button{
    border: 2px solid @cyan;
    box-sizing: border-box;
    border-radius: 44px;
    background: none;
    width: 127px;
    height: 44px;
    font-size: 16px;
    line-height: 20px;
  }
  &__button:hover{
    cursor: pointer;
  }
  &__button:focus{
    outline: none;
  }
  &__list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__item{
    margin: 0 25px;
  }
  &__name{
    font-size: 18px;
    line-height: 22px;
    text-align: end;
    color: black;
  }
  &__link{
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: black;
    font-family: AvenirNextCyr Light;
  }
  &__warning{
    color: @red;
    font-size: 16px;
    line-height: 20px;
  }
  &__image{
    width: 69px;
    height: 69px;
    border-radius: 50%;
  }
  &__logo{

  }
}
.header-unlog{
  justify-content: space-around;
  border: 0;

  &__link{
    margin: 0 20px;
    position: relative;
    transition: .2s all ease-in-out;
  }
  &__link:hover{
    color: @cyan;
  }
  &__link::before{
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    background: #00DEB1;
    bottom: -5px;
    transition: .2s all ease-in-out;
  }
  &__link:hover::before{
    width: 100%;
    transition: .2s all ease-in-out;
  }
  &__sign{
    font-family: 'AvenirNextCyr';
  }
  &__button{
    border: 2px solid #00DEB1;
    box-sizing: border-box;
    border-radius: 44px;
    background: none;
    width: 165px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
  }
}

container{
  display: flex;
  margin: 0 auto;
}
@media screen and (min-width: 960px) {
  container{
    max-width: 860px !important;
    padding: 0 30px;
  }
}
@media screen and (min-width: 1360px) {
  container{
    max-width: 1140px !important;
  }
}
@media screen and (min-width: 1390px) {
  container{
    max-width: 1140px !important;
    padding: 0;
  }
}